<h1>Listing movils</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Ofcar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movils.each do |movil| %>
  <tr>
    <td><%= movil.nombre %></td>
    <td><%= movil.ofcar_id %></td>
    <td><%= link_to 'Show', movil %></td>
    <td><%= link_to 'Edit', edit_movil_path(movil) %></td>
    <td><%= link_to 'Destroy', movil, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movil', new_movil_path %>
