<h1>Listing tturnos</h1>

<table>
  <tr>
    <th>Turno</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tturnos.each do |tturno| %>
  <tr>
    <td><%= tturno.turno %></td>
    <td><%= tturno.desc %></td>
    <td><%= link_to 'Show', tturno %></td>
    <td><%= link_to 'Edit', edit_tturno_path(tturno) %></td>
    <td><%= link_to 'Destroy', tturno, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tturno', new_tturno_path %>
