<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cuenta.nombre %>
</p>

<p>
  <b>Ancestry:</b>
  <%= @cuenta.ancestry %>
</p>


<%= link_to 'Edit', edit_cuenta_path(@cuenta) %> |
<%= link_to 'Back', cuentas_path %>
